@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #444;
  }

  h3 {
    color: #333;
    margin-bottom: 0.3rem;
  }
  
.container {
    max-width: 30rem;
    margin: 1.6rem 1rem 1rem;
    display: flex;
    align-items: baseline;
}

span {
    display: block;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    height: 20px;
    width: 20px;
    padding: 10px 10px;
    margin: 0.1rem 0.7rem;
    border-radius: 10%;
}